@import url('/src/styles/fonts/fonts.css');
@import url('/src/styles/colors.css');
@import url('/src/styles/reset.css');

html {
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
  background-color: var(--black);
  font-size: clamp(8px, 0.8vw + 2px, 10px);
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  display: flex;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2rem;
}
.view-container {
  outline: 1px solid white;
}

.mx-auto {
  margin: 0 auto;
}

.main-window {
  width: 70%;
  flex-grow: 1;
  /* outline: 1px solid white; */
  padding: 1rem;
}
