@import url('/src/styles/fonts/fonts.css');
@import url('/src/styles/colors.css');
@import url('/src/styles/reset.css');

html {
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
  background-color: var(--black);
  font-size: clamp(8px, 0.8vw + 2px, 10px);
}

#app {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  outline: 1px solid wheat;
  width: 100%;
  height: 100vh;
  padding: 0 2em;
}

.main-window {
  width: 70%;
  height: 100%;
  outline: 1px solid white;
}
