@import url('/src/styles/fonts/fonts.css');
@import url('/src/styles/colors.css');
@import url('/src/styles/reset.css');

html {
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
  background-color: var(--black);
  font-size: calc((1vw + 1vh) / 3);
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 0;
  flex-grow: 1;
  padding: 0 2rem;
  position: relative;
}

.view-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.mx-auto {
  margin: 0 auto;
}

a {
  color: var(--font-orange);
  text-decoration: none;
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
  transition:
    transform 0.2s ease,
    font-variation-settings 0.2s ease,
    opacity 0.2s ease;

  font-size: 2.5rem;
  opacity: 0.9;
  line-height: 5rem;
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
  transform-origin: right center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &.active {
    transform: scale(1.4);
    font-weight: 600;
    opacity: 1;
  }

  &:hover {
    text-shadow: 0 0 1px var(--font-orange);
  }
}

.styled-title {
  text-align: center;
  font-family: Unbounded;
  font-size: 3rem;
  background: linear-gradient(to top, white 7%, var(--font-orange) 40%);
  background-clip: text;
  color: transparent;
}

@keyframes border-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
