@import url('/src/styles/fonts/fonts.css');
@import url('/src/styles/colors.css');
@import url('/src/styles/reset.css');

html {
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
  background-color: var(--black);
  /* font-size: clamp(8px, 0.8vw + 2px, 10px);
   */

  font-size: calc((1vw + 1vh) / 3);
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  display: flex;
}

.container {
  /* max-width: 1920px; */
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  padding: 0 2rem;
  position: relative;
}

.view-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.mx-auto {
  margin: 0 auto;
}

.bg-image-character {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60vw;
  /* opacity: 0.6; */
  filter: brightness(0.8);
  /* height: 100%; */
  z-index: -2;
  object-fit: cover;
  pointer-events: none;
  user-select: none;

  -webkit-mask-image: radial-gradient(ellipse at center, #000 15%, #000 50%, transparent 70%);
  mask-image: radial-gradient(ellipse at center, #000 15%, #000 50%, transparent 70%);
}
.mask {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* opacity: 0.6; */
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
@keyframes border-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
