:root {
  --black: rgb(16, 16, 20);
  --font-orange: rgb(238, 113, 46);
  --font-orange-05: rgba(238, 113, 46, 0.5);
  --font-gray: rgb(143, 143, 143);
  --border-gray: rgb(56, 56, 56);
  --skills-grid: rgb(43, 43, 43);
  --sr: rgb(162, 0, 255);
  --ssr: gold;
  --slash: rgb(233, 16, 0);
  --strike: rgb(218, 116, 0);
  --thrust: rgb(218, 218, 0);
  --spirit: rgb(0, 132, 255);
}
